:root {
    --primary-color: #011936;
    --secondary-color: #465362;
    --accent1-color: #82A3A1;
    --accent2-color: #FCF1EE;

    --heading-font: 'Oswald', 500, 700;
    --text-font: 'Roboto', 300, 400, 600;
}

header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-width: 30px;
    padding: 20px;
}

header img{
    align-items: flex-start;
    width: 200px;
    height: 200px;
}

header nav{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    gap: 2px
}

header nav a {
    display: inline-block;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #82A3A1;
    color: #FCF1EE;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.2em;
    border: 2px solid #011936;
    position: relative;
    margin-left: 1px;

}

body {
    font-family: var(--text-font);
    margin: 0;
    padding: 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: 500;
    color: var(--secondary-color);
}

p {
    font-family: var(--text-font);
    font-weight: 400;
    color: var(--primary-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    align-content: center;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 50px;
    color: var(--accent1-color);
    position: absolute;
    top: 20px;
    left: 23%;
    border-width: 10px;
    z-index: 2;
}

article {
    position: absolute;
    bottom: 20px;
    background-color: #011936a2;

    padding: 20px;
    z-index: 2;
}

article p {
    margin: 0;
    color: white;
    font-family: var(--text-font);
    font-size: 20px;
}

article img {
    float: right;
    margin-left: 20px;
    max-width: 40%;
    height: auto;
}

section h2 {
    text-align: center;
    font-size: xx-large;
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--accent1-color);
}

.history p {
    font-size: 20px;
    text-align: justify;
    order: 2;
    color: white;
}

.history img{
    width: 30%;
    height: auto;
    border-radius: 1%;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
}

.history-center{
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    background-color: #011936b2;
    padding: 10px;
}

.adventures {
    padding: 20px;
}

.adventures h2 {
    text-align: center;
    font-size: xx-large;
    font-family: var(--heading-font)700;
    color: var(--accent1-color);
    margin-bottom: 20px;
}

.adventures .adventure-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
    padding-right: 100%;
}

figure {
    text-align: center;
    border: 2px solid var(--primary-color);
    margin: 10px;
    transition: transform 0.3s ease;
}

figure img {
    width: 200px;
    height: 150px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

figcaption {
    font-size: 1em;
    font-family: var(--text-font);
    font-weight: 300;
    color: #011936;
    margin-top: 5px;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.button {
    background-color: var(--accent1-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

footer img{
    width: 4%;
    height: auto;
}

.social-media a {
    text-decoration: none;
    color: var(--secondary-color);
}

.social-media a:hover {
    color: var(--accent1-color);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

footer p {
    font-family: var(--text-font);
    font-weight: 300;
}

footer nav.sociallinks {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

footer img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
}

footer img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}